@charset "UTF-8";
/*******************
    TABLE OF CONTENT
    ----------------
    1. GENERAL
    2. HOME PAGE
        2.1 TABLE STYLING
    3. HELP PANE
    4. TREE VIEW
    5. RESPONSIVE SCREENS

Items to address:

*******************/

/********* 1. GENERAL *********/
/*To be deleted*/
.pageNumber{
    align-self: flex-start;
    width: fit-content;
    margin: 0px !important;
    font-weight: 800;
}

html, html > *, body > *{
    height: 100%;
}

.applicationTitle {
    font-size: 24px;
    font-weight: 700;
    margin: 55px auto;
}

h1,h2,h3,h4,h5,h6,
p,a,button,span, label, button{
    font-family: 'Roboto', sans-serif !important;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-title > h1 {
  margin-right: 10px;
  font-weight: 700;
  font-size: 24px;
}

.tab-content{
    width: 100%;
}

.hideDisplay{
    display: none;
}

.advancedOptions{
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin-bottom: 25px;
}

.advancedOptions div{
    align-items: center;
} 

.advancedOptions div>div>input{
    margin-right: 5px;
}

.advancedOptions button:first-of-type{
    color: #FFFFFF !important;
    background-color: #296CBD;
    border: transparent;
    width: 80%;
    height: 61px;
    margin-top: 25px;
}

.advancedOptionsHelpMenuBtn {
    text-decoration-line: underline;
    color: #296CBD;
}

.advancedOptionsHelpMenuBtn:hover, 
.advancedOptionsHelpMenuBtn:active
{
    color: #103058;
}

#importAdvancedOptions {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    z-index: 1;
}

.warningMessage {
    color: #FF0000;
}

.filter-gray{
    filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(88%) contrast(81%);
}
/*1. END GENERAL*/

/********* 2. HOME PAGE *********/
ul.nav-pills .nav-link {
    color: black;
    background-color: transparent;
    border: 4px #919191 solid;
    width: 289px;
    max-width: 289px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black !important;
    background-color: transparent !important;
    border: 4px #296CBD solid;
    background-image: url('/static/images/background-checkmark-tabs.svg');
    background-position: 245px -3px;
    background-repeat: no-repeat;
}

div#homePageContainer {
    padding: 0;
    width: 100%;
}

#homePageContainer > div {
    position: relative;
}

#homePageContainer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
}

#homePageContainer .container, #homePageContainer .row {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

/*Left Pane*/
#homePageContainer .col-3 {
    background-color: white;
    padding: 34px 28px;
    border-right: 1px #B8B8B8 solid;
    width: 30% !important; /*Width of .col-3 and .col-9 must equal 100% when added together*/
}

#homePageContainer .col-3 h2 {
    font-size: 20px;
    font-weight: 700;
}

#homePageContainer .col-3 > div:first-of-type {
    border-bottom: 1px #B8b8b8 solid;
    padding-bottom: 30px;
    padding-top: 0px;
}

#homePageContainer .col-3 button {
    font-size: 18px;
    padding: 10px 5px;
    color: #296CBD;
    font-weight: 700;
    transition: .3s ease;
}

#homePageContainer .col-3 button:active,
#homePageContainer .col-3 button:hover {
    color: #103058;
}

.leftPaneMenuLabels {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
}

.leftPaneSelectedOptions{
    background: none;
}

#getUserDatabase #getFolderList {
    border: 2px solid #B8B8B8;
    border-radius: 4px;
}

.leftPaneInputsMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #B8B8B8;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 34px;
}

.leftPaneInputsMenu button {
    margin-top: 0;
}

.leftPaneInputsMenu input {
    border: none;
    width: 100%;
}

.leftPaneInputsMenu input:focus-visible {
    outline: none;
}

#nrcsLogoContainer{
    position: fixed;
    width: 100%; 
    display: flex;
    bottom: 0px;
    height: 90px;
}

#nrcsLogo {
    padding-right: 10px;
    width: 19%;
}
/* End Left Pane Styling */

/*Header styling*/
.topHeader {
    background-color: white;
    border-bottom: 1px #B8B8B8 solid;
}

.topHeader h1 {
    margin: 0;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
/*End of header*/

/*Style hover functionality for the import table. This logic is important for folders with multiple SSA's*/
#importTable > tbody > tr:hover > td, #importTable > tbody:hover > tr:first-of-type > th{
    background-color: rgba(0, 0, 0, 0.075) !important;    
}

tbody th{
    font-weight: 400;
}
/*Main Pane*/

/*Tab navigation*/
#homePageContainer ul.nav-pills {
    justify-content: center;
    margin-top: 21px;
}

#homePageContainer .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black !important;
    background-color: transparent !important;
    border: 4px #296CBD solid;
    background-repeat: no-repeat;
    background-image: url(/static/images/background-checkmark-tabs.svg);
}

#homePageContainer .nav-pills .nav-link {
    border: 4px #B8B8B8 solid;
}
/*End of Tab navigation*/

/*Home Page main body*/
#homePageContainer .col-9 .tab-content {
    padding: 21px 34px;
    margin-bottom: 25px;
}

#homePageContainer .col-9 {
    background-color: #FAFAFA;
    padding: 0;
    width: 70%; /*Width of .col-3 and .col-9 must equal 100% when added together*/
}

.table-container h4 {
    font-size: 16px;
    font-weight: bold;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container > img:first-of-type {
    margin-top: 150px;
    margin-bottom: 13px;
    align-items: center;
}

.loadTableScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.loadTableScreen > div{
    width: 8rem;
    height: 8rem;
}

.loadTableScreen > span{
    margin-top: 30px;
}

input[type=checkbox] {
    height: 18px;
    width: 18px;
}

/*Collapsable containers*/
.collapsableContainerBtn{
    width: 100%;
    text-align: left;
    display: flex;
    border: none;
    margin-bottom: 3px;
}

.collapsableContainerBtn p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.collapsableContainerBtn img{
    margin-right: 15px;
    margin-left: 3px;
    align-self: center;
}

.collapsableContainer{
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.collapsableContainer > div {
    display: flex;
    margin-bottom: 5px;
    max-width: 98%;
    margin-left: 2%;
}

.collapsableContainer img{
    margin-right: 15px;
    margin-left: 3px;
}

.collapsableContainer p {
    margin-bottom: 3px;
    margin-top: 3px;
}

/*Pretest error display*/
#toggleErrorDiv{
    background: #FFF1D2;
}

#errorDiv > div {
    background: #FFF1D2;
}

/*Duplicate area symbol display*/
.infoIcon{
    height:27px;
    width: 27px;
    margin-right: 7px;
}

.treeViewFolderIcon{
    width:17px;
    margin-right: 5px;
}

.treeViewDatabaseIcon{
    width: 13px;
    margin-right: 5px;    
}

#duplicateDiv > div, #toggleDuplicateDiv {
    background-color: #B9D9EB;
    margin-bottom: 5px;
}

/*errorButton Will be implemented at a later time*/
.errorButton {
    margin-left: auto;
    background: transparent;
    border: none;
    color: #205493;
    text-decoration: underline;
}
/*End Pretest error display*/

/*Import error display*/
#toggleProgressErrorDiv{
    background: #ffb8b8;
}
/*End Import error display*/

/*Successful imports*/
#progressListButton{
    background: #a3ffb6;
}
/*End Successful imports*/
/*End Collapsable container*/
/*End Home Page main body*/

/*Home Page Tree View Modals*/
.modal.show div.modal-dialog {
    max-width: 100%;
    height: 100vh;
    margin: auto auto;
}

.modal-title{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
}

.modal-header{
    border-bottom: 1px gray solid !important;
}

div.modal-content {
    height: 100%;
}

#textTemplatesContainer {
    width: 300px;
} 

#textTemplatesWarning {
    font-size: small;
}
/*Home Page Import Progress screen*/
.progressScreen{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    align-self: center;
}

.progressScreen > * {
    margin-top: 10px;
}

.progressScreen button:last-of-type, .progressScreen button:nth-of-type(3){
    width: 20%;
    /*border: 3px #296CBD solid;*/
    font-size: 27px;
}

.progressBarSuccessContainer{
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
}

.progressBarSuccessContainer > div {
    height: 100%;
}

#loadingIcon{
    height: 25px;
    width: 25px;
    color: #0d6efd !important;
    margin-left: 8px;
}

.timer{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.timer p{
    margin-right: 5px;
}
/*End Home Page Import Progress screen*/
/*End Home Page Tree View Modals*/
/*End Home Page*/

.scrollTable {
    /*Needs to be reviewed with Michael*/
    overflow-y: auto;
    height: fit-content;
    max-height: 51vh;
}

/*Style columns in the tables*/

/*Logic to center last two columns in the table header*/
.scrollTable > table > thead > tr > th:nth-last-child(-n+2){
    text-align: center;
}
/*Logic to center last two columns in the table body*/
.scrollTable > table > tbody > tr > td:nth-last-child(-n+2){
    text-align: center;
}
/*Logic to center last two columns in the table header of the importTable*/
#importTable > thead > tr > th:nth-last-child(-n+3){
    text-align: center;
}
/*Logic to center last two columns in the table body of the importTable*/
#importTable > tbody > tr > td:nth-last-child(-n+3){
    text-align: center;
}

/*Style columns in the tables*/
.scrollTable > table > thead{
    /*Needs to be reviewed with Michael*/
    position: sticky;
    top: 0;
    background-color: #FAFAFA;
}

.scrollTable > table > thead > tr > th:hover{
    cursor: pointer;
}

.folderTable > table > thead > tr > th:first-child{
    text-align: left !important;
}

.scrollTable > table > thead > tr > th > img{
    margin-left: 5px;
}

.folderTable > table > tbody > tr > td:first-child{
    text-align: left !important;
}
/*Targets tables on the import and existing pages*/
.table > tbody > tr{
    vertical-align: middle;
}

.tableFooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.tableFooter p{
    margin-right: auto;
}

.tableFooter button{
    color: #FFFFFF;
    background-color: #296CBD;
    border: transparent;
    width: 203px;
    height: 61px;
    margin-left: 8px;
}
/*2. END HOME PAGE*/

/*3. HELP PANE*/
.helpPaneContainer {
    display: none;
    width: 350px;
    max-width: 75%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    position: absolute;
    padding: 13px;
    right: 0px;
    top: 0px;
    border: 1px black solid;
    background-color: white;
    z-index: 99;
}

.helpPaneContainer div > h4 {
    /*font-weight: bold !important;*/
    font-weight: 500 !important;
    font-size: 18px;
    margin-top: 30px;
    text-decoration-line: underline;
}

/*Jump Link container in the Help Menu*/
.helpPaneContainer > div > div {
    margin-bottom: 20px;
    padding: 15px 20px;
    width: fit-content;
}

.helpPageContainer button {
    margin-left: -20px;
}

.containsSubHeaders{
    margin-left: 10px;
}
/*Use this to target a container that has sub headers.*/
.containsSubHeaders > div {
    width: fit-content;
    margin-left: 40px;
}

.containsSubHeaders img {
    transform: rotate(90deg);
}
/*Target a header that does not have any sub headers*/
.onlyHeader{
    margin-left: 35px;
}

/*Specific to the close button for the help pane on the Home Page*/
.helpPaneContainer > .btn {
    position: absolute;
    right: 0px;
    top: 0px;
}

/*Header for the help menu*/
#helpPaneHeader{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/*Custom styling for the Contact Us button*/
 .contactUs {
    position: absolute;
    display: flex;
    flex-direction: row; 
    background-color: #296CBD;
    color: white;
    font-weight: 700;
    border: transparent;
    border-radius: 0.25rem;
} 
/*3. END HELP PANE*/

/*4. TREE VIEW*/
/*Clickable Path*/
.folderName span:hover, .folderName span:focus{
    cursor: pointer;
    font-weight: bold;
}

.clickablePathContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    border-bottom: 1px gray solid;
}

.clickablePathContainer img{
    margin: 0 13px;
}

.clickablePathContainer p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.popover {
    height: 75px !important;
}
/*End clickable path*/
.folderHeader{
    /*Required becase we have a search bar button*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folderHeader > button {
    height: 30px;
    padding: 0px !important;
}

/*Search bar*/
.searchBar {
    position: relative;
}

.searchBar input{
    margin-bottom: 13px;
    padding: 8px;
}

.searchBar .btn{
    position: absolute;
    right: 1px;
    top: -5px;
}
/*End search bar*/
/*Button to create new database*/
.buttonWithCircleIcon {
    border: #296CBD solid 2px !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center;
    flex-direction: column;
}

.buttonWithCircleIcon > *{
    margin-bottom: 8px !important;
}

.buttonWithCircleIcon p{
    color: #205493 !important;
    text-align: center;
}

.buttonWithCircleIcon img{
    align-self: center;
    width: 33px;
    height: 33px;
}
/*End button to create new database*/

#createNewDatabaseModal {
    margin-top: 5%;
}

div.createNewDatabaseModalContainer {
    height: auto !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center !important;
    max-width: 500px !important;
}

.createNewDatabaseLabels {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #282828;
}

.createNewDatabaseNameContainer {
    margin-bottom: 21px;
}

.createNewDatabaseTypeContainer {
    margin-bottom: 21px;
}

#createNewDatabaseName, #templateTypeDropdown {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 4px;
    width: 400px;
    height: 50px;
}

div .cancelBtn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #296CBD;
}

div .saveDbBtn {
    background: #296CBD;
    text-align: center;
    color: #FFFFFF;
}
/*End Create New Database Modal */

.filePathContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background: transparent;
}

.filePathContainer input:first-of-type{
    width: 100%;
}

.folderNode {
    max-height: 205px;
}

.fileNode{
    max-height: 145px;
}

.folderNode button {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    margin-right: 13px;
    margin-bottom: 5px !important;
    display: inline-flex;
    border: 2px #B8B8B8 solid;
    align-items: center;
    transition: .3s ease-in;
    overflow-x:hidden;
    text-overflow: ellipsis;
}

.folderNode button:hover, .folderNode button:focus{
    cursor: pointer;
    background: #B8B8B8;

}

.folderNode button img{
    margin-right: 5px;
}

.fileNode button{
    width: fit-content;
    height: fit-content;
    margin-right: 13px;
    margin-bottom: 13px;
    display: inline-flex;
    padding: 8px;
    border: 1px #d4e2f2 solid;
    align-items: center;
    color: #205493;
    background-color: #d4e2f2;
    transition: .3s ease-in;
    overflow-x:hidden;
    text-overflow: ellipsis;
}

.fileNode button:hover{
    cursor: pointer;
    background-color: #95bdeb;
    border: 1px #95bdeb solid;
    color: #205493;
}

.fileNode button img{
    width: 36px;
}

.folderNode, .fileNode {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.switchInputs{
    /*change clickable path to editable path. Vise versa is true*/
    border: none;
    background: transparent;
}

.labels {
    /*Example: File Path, Folders, Files*/
    text-align: left;
    margin-top: 34px;
    font-size: 18px;
}

.buttonFolderName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    width: 116px;
}

#selectDatabasePage, #selectSSAPage{
    max-width: 100% !important;
}

#databaseFolderTree, #ssaFolderTree{
    /*Specific to fileless tree views*/
    /*max-width: 875px;*/
    width: 80% !important;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.databaseFolderTreeBottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
/*4. END TREE VIEW*/
/*5. RESPONSIVE SCREENS*/
/*Screens 1440px or larger*/
@media screen and (min-width: 1440px){
    #homePageContainer .col-3{
        width: 23% !important;
    }
    #homePageContainer .col-9{
        width: 77% !important;
    }
}
/*5. END RESPONSIVE SCREENS*/